body{
    font-family: sans-serif;
    background-color: black;
    margin: 30px;
}
.main{
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: white;
}
.header{
    display: flex;
    padding: 30px;
}
#header-right{
    box-sizing: content-box;
    padding-left:60px;
}

#img-thumb{
    width: 200px;
    height:250px;
    overflow: hidden;
    border: 5px solid rgb(0, 0, 0);
}
img{
    max-width: 100%;
}
.address-infor{
    box-sizing: content-box;
    margin-left: 30px; 
}
.address-infor-item{
    display: flex;
    box-sizing: content-box;
}
.trinh-do{
    padding: 30px;
    display: flex;
} 
#hoc-van{
    box-sizing: content-box;
    width: 50%;
}
#kinh-nghiem{
    box-sizing: content-box;
    width: 50%;
}
.ky-nang{
    box-sizing: content-box;
    margin-left: 30px;
}
.to-hop{
    display: flex;
}
.to-hop-2{
    margin-left: 20px;
}
.vong-tron-1{
    display: flex;
}
.vong-tron-2{
    margin-top: 10px;
    display: flex;
}
.vong-tron-3{
    display: flex;
}
.vong-tron-4{
    display: flex;
    margin-top: 10px;
}
.circle{
    width: 50px;
    height: 50px;
    background: #fefcff00;
    border-radius: 50%;
    border: 2px solid black;
  }
.right{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    clip: rect(40px, 50px, 50px,25px);
    background-color:#DEB887;
}
.left{ 
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    clip: rect(0px, 25px, 50px,0px);
    background-color: #DEB887;
}
.inside{
    color: #DEB887;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top:5px ;
    margin-left: 5px;
    text-align: center;
    z-index: 100;
    line-height: 40px;
    box-sizing: border-box;
}
.circle-2{
    width: 50px;
    height: 50px;
    background: #fefcff00;
    border-radius: 50%;
    border: 2px solid black;
}
.left-1{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    clip: rect(0px, 25px, 45px,0px);
    background-color: #DEB887;
}

.inside-1{
    color: #DEB887;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top:5px ;
    margin-left: 5px;
    text-align: center;
    z-index: 100;
    line-height: 40px;
    box-sizing: border-box;
}
.circle-3{
    width: 50px;
    height: 50px;
    background: #fefcff00;
    border-radius: 50%;
    border: 2px solid black;
}
.left-2{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    clip: rect(0px, 25px, 25px,0px);
    background-color: #DEB887;
}
.inside-2{
    color: #DEB887;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top:5px ;
    margin-left: 5px;
    text-align: center;
    z-index: 100;
    line-height: 40px;
    box-sizing: border-box;
}
.circle-4{ 
    width: 50px;
    height: 50px;
    background: #fefcff00;
    border-radius: 50%;
    border: 2px solid black;
}
.left-3{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    clip: rect(0px, 25px, 50px,0px);
    background-color: #DEB887;
}
.right-3{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    clip: rect(10px, 50px, 50px,25px);
    background-color:#DEB887;
}
.inside-3{
    color: #DEB887;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top:5px ;
    margin-left: 5px;
    text-align: center;
    z-index: 100;
    line-height: 40px;
    box-sizing: border-box;
}